.container{
    background-image: url('/bg.png');
    height: 700px;
}

.tittle{
    font-family: button;
    color:white;
    font-size: 3rem;
}

.desc{
    color: white;
    width: 70%;
    font-size: medium;
}
