.container{
    background-image: url('/bg.png');
    height: 700px;
}

.tittle{
    font-family: button;
    color:white;
    font-size: 3rem;
    margin-left: 30px;
    margin-top: 10px;
}

.desc{
    color: white;
    width: 70%;
    font-size: medium;
    margin-left: 30px;
}

@media (max-Width:767px){
    .tittle{
        font-size: 1.5rem;
    }
    
}
